
/* External CSS file */

/* This rule applies to all <p> elements */
p {
  text-align: center;         /* Align text to center */
  font-size: 2rem;            /* Font size of 2rem */
  font-family: sans-serif;    /* Use sans-serif font */
  font-weight: 700;           /* Bold text */
}
